.app {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>section {
    padding-bottom: 20px;
  }
}

.gameControls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  button {
    width: 33%;
  }
}
